h1{
    color: orange;
}
.heart{
    color: red;
    font-size: 16px;
}

.highlight{
    color: red;
    display: inline-block;
    width: 1ch;
}
pre{
    font-size: 16px;
    line-height: 0.5;
    white-space: pre;
}
body {
    height: 100vh;
    margin: 0;
}
.text{
    margin-left: 50px;
}
  .cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
  }
  footer {
    margin-left: 20px;
    font-size: 20px;
    font-family: cedarville cursive;
  }